<h1 class = "text">Welcome on my gossip home page ;)</h1>


<img  src="https://cdn.discordapp.com/attachments/318828901931548682/809572832564477972/1336192697613.gif" alt="This will display an animated GIF" />


